# **AIN 214 - PA1 - FALL 2025**

**Student ID** : 2240765048

**Name-Surname**   : Demir Emiroğlu

**Deadline: 3.11.2025 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [998]:
# Import required libraries
import pandas as pd
import sqlite3

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* You can insert more cells if it is necessary.

# **PART 1: Flight Delays and Cancellations Dataset**

The US Department of Transportation's Bureau of Transportation.

**Dataset Path: "datasets/flights_dataset/*.csv"**

- `flights.csv` contains the flight information

| Variable   | Description                                          |
|------------|------------------------------------------------------|
| `year`, `month`, `day` | The time information of the flight |
| `dep_time`   | Departure time (in the format hhmm) where`NA` corresponds to a cancelled flight        |
| `sched_dep_time`    | Scheduled departure time                        |
| `dep_delay`  | Departure delay, in minutes (negative for early)    |
| `arr_time`  | Arrival time    |
| `sched_arr_time`  | Scheduled arrival time    |
| `arr_delay`  | Arrival delay, in minutes (negative for early)    |
| `carrier`  | Carrier/airline code    |
| `tailnum`  | Tail number of the plane    |
| `origin`     | Origin airport where flight starts (IATA code)
| `airline`    | Carrier/airline name                        |
| `dest`       | Destination airport where flight lands (IATA code)  |
| `air_time`    | The duration of flight (on air)                       |
| `distance`    | The distance between origin and destination airports (miles)                        |
| `hour`, `minute`, `time_hour`    | Time information of the flight                       

- `flights_weather.csv` contains the same flight information as well as weather conditions such as

| Variable   | Description                                           |
|------------|-------------------------------------------------------|
| `visib`      | Visibility (in miles)                                 |
| `wind_gust`  | Wind gust speed (in mph)

### Load & Inspect the Data (15 pts)

Load `flights.csv` as `flights_df` and `flights_weather.csv` as `weather_df` by using pandas DataFrame. (2 pts)

In [1004]:
# Load the data
flights_df=pd.read_csv("datasets/flights_dataset/flights.csv")
weather_df=pd.read_csv("datasets/flights_dataset/flights_weather.csv")

Show the first and the last five rows of the datasets. (4 pts)

In [1006]:
# flights_df
print(flights_df.head())
print(flights_df.tail())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2022      1    1       1.0            2359        2.0     604.0
1  2022      1    1       1.0            2250       71.0     242.0
2  2022      1    1      10.0            2355       15.0     759.0
3  2022      1    1      25.0            2350       35.0     606.0
4  2022      1    1      35.0            2349       46.0     616.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             618      -14.0      UA     555  N405UA    SEA  IAH     221.0
1             142       60.0      AS      72  N265AK    SEA  FAI     193.0
2             730       29.0      AS     270  N274AK    SEA  ATL     261.0
3             550       16.0      AS       7  N281AK    SEA  ORD     193.0
4             545       31.0      UA     507  N426UA    PDX  ORD     196.0

   distance  hour  minute             time_hour                airline
0      1874    23      59  2022-01-01T23:00:00Z  United Air Lines Inc.
1      1533    22      50  2022-01-01T22:00:00Z   Alaska Airlines Inc.
2      2182    23      55  2022-01-01T23:00:00Z   Alaska Airlines Inc.
3      1721    23      50  2022-01-01T23:00:00Z   Alaska Airlines Inc.
4      1739    23      49  2022-01-01T23:00:00Z  United Air Lines Inc.
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
111371  2022      6   30       NaN            1155        NaN       NaN
111372  2022      6   30       NaN            1448        NaN       NaN
111373  2022      6   30       NaN            1751        NaN       NaN
111374  2022      6   30       NaN            1145        NaN       NaN
111375  2022      6   30       NaN             720        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
111371            2033        NaN      UA     206     NaN    SEA  EWR
111372            1732        NaN      DL     323   N3759    SEA  LAX
111373            2352        NaN      DL     377  N898DN    SEA  ORD
111374            2029        NaN      DL     114  N876DN    SEA  JFK
111375            1544        NaN      DL     168  N814DN    SEA  BOS

        air_time  distance  hour  minute             time_hour  \
111371       NaN      2402    11      55  2022-06-30T11:00:00Z
111372       NaN       954    14      48  2022-06-30T14:00:00Z
111373       NaN      1721    17      51  2022-06-30T17:00:00Z
111374       NaN      2422    11      45  2022-06-30T11:00:00Z
111375       NaN      2496     7      20  2022-06-30T07:00:00Z

                      airline
111371  United Air Lines Inc.
111372   Delta Air Lines Inc.
111373   Delta Air Lines Inc.
111374   Delta Air Lines Inc.
111375   Delta Air Lines Inc.

In [1007]:
# weather
print(weather_df.head())
print(weather_df.tail())

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2022      1    1       1.0            2359        2.0     604.0
1  2022      1    1       1.0            2250       71.0     242.0
2  2022      1    1      10.0            2355       15.0     759.0
3  2022      1    1      25.0            2350       35.0     606.0
4  2022      1    1      35.0            2349       46.0     616.0

   sched_arr_time  arr_delay carrier  ...    route  temp  dewp  humid  \
0             618      -14.0      UA  ...  SEA-IAH  33.0  23.0  66.06
1             142       60.0      AS  ...  SEA-FAI  32.0  23.0  69.04
2             730       29.0      AS  ...  SEA-ATL  33.0  23.0  66.06
3             550       16.0      AS  ...  SEA-ORD  33.0  23.0  66.06
4             545       31.0      UA  ...  PDX-ORD  33.0  19.0  55.75

   wind_dir  wind_speed  wind_gust  precip pressure visib
0     160.0     8.05546   9.270062     0.0   1022.9  10.0
1     170.0     9.20624  10.594357     0.0   1023.4  10.0
2     160.0     8.05546   9.270062     0.0   1022.9  10.0
3     160.0     8.05546   9.270062     0.0   1022.9  10.0
4     120.0     6.90468   7.945768     0.0   1025.1  10.0

[5 rows x 29 columns]
        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
111001  2022      6   30       NaN            1155        NaN       NaN
111002  2022      6   30       NaN            1448        NaN       NaN
111003  2022      6   30       NaN            1751        NaN       NaN
111004  2022      6   30       NaN            1145        NaN       NaN
111005  2022      6   30       NaN             720        NaN       NaN

        sched_arr_time  arr_delay carrier  ...    route  temp  dewp  humid  \
111001            2033        NaN      UA  ...  SEA-EWR  56.0  51.0  83.88
111002            1732        NaN      DL  ...  SEA-LAX  60.0  53.0  77.65
111003            2352        NaN      DL  ...  SEA-ORD  65.0  53.0  65.56
111004            2029        NaN      DL  ...  SEA-JFK  56.0  51.0  83.88
111005            1544        NaN      DL  ...  SEA-BOS  56.0  50.0  80.52

        wind_dir  wind_speed  wind_gust  precip pressure visib
111001      30.0     9.20624  10.594357     0.0   1021.5  10.0
111002      20.0     6.90468   7.945768     0.0   1021.9  10.0
111003     280.0     6.90468   7.945768     0.0   1021.3  10.0
111004      30.0     9.20624  10.594357     0.0   1021.5  10.0
111005     350.0     5.75390   6.621473     0.0   1021.8  10.0

[5 rows x 29 columns]

How many records(rows) exists on each dataset? Use print function for the answer. (2 pts)

In [1009]:
# Show the number of records (rows) in each dataset.
print("Number of rows of flights dataset:",len(flights_df))
print("Number of rows of fligths_weather dataset:",len(weather_df))

Number of rows of flights dataset: 111376
Number of rows of fligths_weather dataset: 111006

What are the column types? Print columns and their datatypes. (2 pts)

In [1091]:
# Show the data types for columns
print(weather_df.dtypes)

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
airline            object
route              object
temp              float64
dewp              float64
humid             float64
wind_dir          float64
wind_speed        float64
wind_gust         float64
precip            float64
pressure          float64
visib             float64
dtype: object

Compute a missing value summary (count and %) per column for each dataset. (3 pts)

In [1099]:
# Print the summary
print("flights_df dataset:")
for column in flights_df.columns:
    number_of_missing_val=flights_df[column].isna()
    count=number_of_missing_val.sum()
    percentage=(count/len(flights_df[column]))*100
    print(f"Column:{column}, Missing Value:{count}, Percentage:{percentage}%")
print("\nweather_df dataset:")
for column in weather_df.columns:
    number_of_missing_val=weather_df[column].isna()
    count=number_of_missing_val.sum()
    percentage=(count/len(weather_df[column]))*100
    print(f"Column:{column}, Missing Value:{count}, Percentage:{percentage}%")

flights_df dataset:
Column:year, Missing Value:0, Percentage:0.0%
Column:month, Missing Value:0, Percentage:0.0%
Column:day, Missing Value:0, Percentage:0.0%
Column:dep_time, Missing Value:2445, Percentage:2.195266484700474%
Column:sched_dep_time, Missing Value:0, Percentage:0.0%
Column:dep_delay, Missing Value:2445, Percentage:2.195266484700474%
Column:arr_time, Missing Value:2542, Percentage:2.282358856486137%
Column:sched_arr_time, Missing Value:0, Percentage:0.0%
Column:arr_delay, Missing Value:2679, Percentage:2.405365608389599%
Column:carrier, Missing Value:0, Percentage:0.0%
Column:flight, Missing Value:0, Percentage:0.0%
Column:tailnum, Missing Value:129, Percentage:0.11582387587990232%
Column:origin, Missing Value:0, Percentage:0.0%
Column:dest, Missing Value:0, Percentage:0.0%
Column:air_time, Missing Value:2679, Percentage:2.405365608389599%
Column:distance, Missing Value:0, Percentage:0.0%
Column:hour, Missing Value:0, Percentage:0.0%
Column:minute, Missing Value:0, Percentage:0.0%
Column:time_hour, Missing Value:0, Percentage:0.0%
Column:airline, Missing Value:0, Percentage:0.0%

weather_df dataset:
Column:year, Missing Value:0, Percentage:0.0%
Column:month, Missing Value:0, Percentage:0.0%
Column:day, Missing Value:0, Percentage:0.0%
Column:dep_time, Missing Value:2440, Percentage:2.198079383096409%
Column:sched_dep_time, Missing Value:0, Percentage:0.0%
Column:dep_delay, Missing Value:2440, Percentage:2.198079383096409%
Column:arr_time, Missing Value:2537, Percentage:2.285462047096553%
Column:sched_arr_time, Missing Value:0, Percentage:0.0%
Column:arr_delay, Missing Value:2674, Percentage:2.4088787993441794%
Column:carrier, Missing Value:0, Percentage:0.0%
Column:flight, Missing Value:0, Percentage:0.0%
Column:tailnum, Missing Value:129, Percentage:0.11620993459812982%
Column:origin, Missing Value:0, Percentage:0.0%
Column:dest, Missing Value:0, Percentage:0.0%
Column:air_time, Missing Value:2674, Percentage:2.4088787993441794%
Column:distance, Missing Value:0, Percentage:0.0%
Column:hour, Missing Value:0, Percentage:0.0%
Column:minute, Missing Value:0, Percentage:0.0%
Column:airline, Missing Value:0, Percentage:0.0%
Column:route, Missing Value:0, Percentage:0.0%
Column:temp, Missing Value:0, Percentage:0.0%
Column:dewp, Missing Value:0, Percentage:0.0%
Column:humid, Missing Value:0, Percentage:0.0%
Column:wind_dir, Missing Value:3163, Percentage:2.8493955281696484%
Column:wind_speed, Missing Value:279, Percentage:0.25133776552618775%
Column:wind_gust, Missing Value:279, Percentage:0.25133776552618775%
Column:precip, Missing Value:0, Percentage:0.0%
Column:pressure, Missing Value:0, Percentage:0.0%
Column:visib, Missing Value:0, Percentage:0.0%

Identify likely key columns for a potential merging between two datasets. (2 pts)

In [1015]:
# Answer here
column_names_flightsdf=[]
same_column_names=[]
for column_name in flights_df.columns:
    column_names_flightsdf.append(column_name)
for column_name in weather_df.columns:
    if column_name in column_names_flightsdf:
        same_column_names.append(column_name)
print(",".join(same_column_names))
# EXPLANATION: Columns with same names in two different datasets can be used to combine or exchange of information through datasets.

year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,airline

### Data Exploration and Analysis (35 pts)

**Note:** You can create new columns, merge datasets or perform any other operations in this stage.

How many different airlines has flight records in the flights dataset? (2 pts)

In [1019]:
# Answer the question above
name_of_airlines=[]
for airline_name in flights_df["airline"]:
    if airline_name not in name_of_airlines:
        name_of_airlines.append(airline_name)
print(len(name_of_airlines))

12

Calculate the mean, min, max and std of the departure delay times. (Column: `dep_delay`) (2 pts)

In [1021]:
# Answer the question above
print("mean:",flights_df["dep_delay"].mean())
print("min:",flights_df["dep_delay"].min())
print("max:",flights_df["dep_delay"].max())
print("std:",flights_df["dep_delay"].std())

mean: 8.036674592173027
min: -36.0
max: 2120.0
std: 41.65103180286961

Compute the summary statistics for weather columns. (`temperature`, `wind_speed`, `precipitation`) (2 pts)

In [1023]:
# Answer the question above
weather_df[["temp","wind_speed","precip"]].describe()

                temp     wind_speed         precip
count  111006.000000  110727.000000  111006.000000
mean       48.155538       6.995307       0.005774
std         9.363201       4.507431       0.022099
min        21.900000       0.000000       0.000000
25%        42.000000       4.603120       0.000000
50%        47.000000       6.904680       0.000000
75%        54.000000       9.206240       0.000000
max        99.000000      27.618720       0.320000

How many flights are delayed more than 15 minutes? Report count and the percentage. (3 pts)

In [1093]:
# Answer the question above
flights_over15=flights_df["dep_delay"]>15
count=flights_over15.sum()
percentage=(count/len(flights_df["dep_delay"]))*100
print("count:",count)
print("percentage:",percentage,"%")

count: 17539
percentage: 15.74755782215199 %

How many flights are cancelled in the dataset? (3 pts)

In [1027]:
# Answer the question above
cancelled_flights=flights_df["dep_time"].isna()
number_of_cancelled_flights=cancelled_flights.sum()
print(number_of_cancelled_flights)

2445

Report top 5 airlines has the most cancellation by count and percantage seperately. (3 pts)

In [1029]:
# Answer the question above
airline_cancellation_dict={}
for i,row in flights_df.iterrows():
    cancellation=row["dep_time"]
    airline=row["airline"]
    if pd.isna(cancellation):
        if airline not in airline_cancellation_dict:
            airline_cancellation_dict[airline]=1
        else:
            airline_cancellation_dict[airline]+=1
count_list=[]
for name,count in airline_cancellation_dict.items():
    count_list.append(count)
sorted_count_list=sorted(count_list,reverse=True)

for i in range(5):
    for airline,count in airline_cancellation_dict.items():
        if count==sorted_count_list[i]:
            print(airline)
            break

Alaska Airlines Inc.
Delta Air Lines Inc.
Horizon Air
SkyWest Airlines Inc.
Southwest Airlines Co.

In [1030]:
# Answer the question above
airline_cancellation_dict={}
for i,row in flights_df.iterrows():
    cancellation=row["dep_time"]
    airline=row["airline"]
    if pd.isna(cancellation):
        if airline not in airline_cancellation_dict:
            airline_cancellation_dict[airline]=1
        else:
            airline_cancellation_dict[airline]+=1

total_number_of_cancellation=flights_df["dep_time"].isna().sum()
for airline,count in airline_cancellation_dict.items():
    percentage=(count/total_number_of_cancellation)*100
    airline_cancellation_dict[airline]=percentage

count_list=[]
for name,count in airline_cancellation_dict.items():
    count_list.append(count)
sorted_count_list=sorted(count_list,reverse=True)

for i in range(5):
    for airline,count in airline_cancellation_dict.items():
        if count==sorted_count_list[i]:
            print(airline)
            break

Alaska Airlines Inc.
Delta Air Lines Inc.
Horizon Air
SkyWest Airlines Inc.
Southwest Airlines Co.

Which airline has the highest departure delay average? And what is the average delay for the airline? (3 pts)

In [1032]:
# Answer the question above
airline_delay_dict={}
airline_flight_count_dict={}
for i,row in flights_df.iterrows():
    delay=row["dep_delay"]
    airline=row["airline"]
    if not pd.isna(delay):
        if airline not in airline_delay_dict:
            airline_delay_dict[airline]=delay
            airline_flight_count_dict[airline]=1
        else:
            airline_delay_dict[airline]+=delay
            airline_flight_count_dict[airline]+=1
for airline in airline_delay_dict:
    airline_delay_dict[airline]=airline_delay_dict[airline]/airline_flight_count_dict[airline]
highest_average=max(airline_delay_dict.values())
for airline,avg_delay in airline_delay_dict.items():
    if avg_delay==highest_average:
        print("Airline:",airline,"/ Delay:",avg_delay)

Airline: JetBlue Airways / Delay: 42.14152410575428

Which routes has the most cancelled flights? Report top 10 routes and the number of cancelled flights. (Note: A route is "[origin]-[dest]". For example PDX-BUR) (4 pts)

In [1034]:
# Answer the question above
routes={}
for i,row in flights_df.iterrows():
    route=row["origin"],row["dest"]
    time=row["dep_time"]
    if pd.isna(row["origin"]) or pd.isna(row["dest"]):
        continue
    if route not in routes and pd.isna(time):
        routes[route]=1
    elif route in routes and pd.isna(time):
        routes[route]+=1
count_list=[]
for flight,count in routes.items():
    count_list.append(count)
sorted_count_list=sorted(count_list,reverse=True)
    
for i in range(10):
    for route,count in routes.items():
        if count==sorted_count_list[i]:
            print("Route:",route[0],"-",route[1]," Number:",count)
            break

Route: SEA - LAX  Number: 93
Route: SEA - ANC  Number: 78
Route: SEA - LAS  Number: 73
Route: SEA - LAS  Number: 73
Route: SEA - PDX  Number: 71
Route: SEA - JFK  Number: 70
Route: PDX - SEA  Number: 68
Route: SEA - DEN  Number: 66
Route: SEA - ORD  Number: 63
Route: SEA - PHX  Number: 60

Which route has the highest average departure delay time? Report top 10 routes with the average departure delay times. (3 pts)

In [1036]:
# Answer the question above
route_delay_dict={}
route_count_dict={}
for i,row in flights_df.iterrows():
    route=row["origin"],row["dest"]
    delay=row["dep_delay"]
    if pd.isna(row["origin"]) or pd.isna(row["dest"]) or pd.isna(delay):
        continue   
    if route not in route_delay_dict:
        route_delay_dict[route]=delay
        route_count_dict[route]=1
    else:
        route_delay_dict[route]+=delay
        route_count_dict[route]+=1
for route in route_delay_dict:
    route_delay_dict[route]=route_delay_dict[route]/route_count_dict[route]

count_list=[]
for route,count in route_delay_dict.items():
    count_list.append(count)
sorted_count_list=sorted(count_list,reverse=True)
    
for i in range(10):
    for route,count in route_delay_dict.items():
        if count==sorted_count_list[i]:
            print("Route:",route[0],"-",route[1]," Delay:",count)
            break

Route: PDX - DSM  Delay: 35.78260869565217
Route: PDX - GRR  Delay: 35.73913043478261
Route: PDX - FLL  Delay: 30.893617021276597
Route: SEA - MIA  Delay: 29.916666666666668
Route: SEA - CLT  Delay: 27.313199105145415
Route: PDX - STL  Delay: 27.0
Route: PDX - BOS  Delay: 24.8125
Route: PDX - DFW  Delay: 24.7359413202934
Route: PDX - DAL  Delay: 24.1
Route: PDX - JFK  Delay: 21.729433272394882

Compare mean departure delay between rainy and non-rainy flights. (5 pts)

Tip: Check `precip` column in weather dataset

In [1038]:
# Answer the question above
weather_delay_dict={"Rainy":0,"Non-rainy":0}
count_dict={"Rainy":0,"Non-rainy":0}
for i,row in weather_df.iterrows():
    rain=row["precip"]
    delay=row["dep_delay"]
    if rain!=0 and not pd.isna(delay):
        weather_delay_dict["Rainy"]+=delay
        count_dict["Rainy"]+=1
    elif rain==0 and not pd.isna(delay):
        weather_delay_dict["Non-rainy"]+=delay
        count_dict["Non-rainy"]+=1
mean_delay_rainy=weather_delay_dict["Rainy"]/count_dict["Rainy"]
mean_delay_nonrainy=weather_delay_dict["Non-rainy"]/count_dict["Non-rainy"]
print("Mean departure delay of rainy flights:",mean_delay_rainy)
print("Mean departure delay of non-rainy flights:",mean_delay_nonrainy)

Mean departure delay of rainy flights: 10.030634573304157
Mean departure delay of non-rainy flights: 7.424000289247234

Compare mean departure delay between wind condition. Consider 10 mile per hour or more wind gust is considered as windy. (5 pts)

In [1040]:
# Answer the question above
wind_delay_dict={"Windy":0,"Non-windy":0}
count_dict={"Windy":0,"Non-windy":0}
for i,row in weather_df.iterrows():
    wind=row["wind_gust"]
    delay=row["dep_delay"]
    if not pd.isna(wind) and wind>=10 and not pd.isna(delay):
        wind_delay_dict["Windy"]+=delay
        count_dict["Windy"]+=1
    elif not pd.isna(wind) and wind<10 and not pd.isna(delay):
        wind_delay_dict["Non-windy"]+=delay
        count_dict["Non-windy"]+=1
mean_delay_windy=wind_delay_dict["Windy"]/count_dict["Windy"]
mean_delay_nonwindy=wind_delay_dict["Non-windy"]/count_dict["Non-windy"]
print("Mean departure delay of windy flights:",mean_delay_windy)
print("Mean departure delay of non-rainy flights:",mean_delay_nonwindy)

Mean departure delay of windy flights: 9.216318104299434
Mean departure delay of non-rainy flights: 7.5045880137306495

# **PART- 2**

**SQL Questions**

**You must use sqlite3 library for SQL operations**

**Dataset Url: https://www.kaggle.com/datasets/ayeshaimran123/foodpanda-order-and-delivery-trends**


The Foodpanda Order & Delivery Trends dataset contains information about customer orders made through the Foodpanda application. It includes details such as customer information, order status, restaurant data, ratings, payment methods, and more.

Dataset description

# Tables

## 1. Customer Table

| Column          | Type    | Key         | Description                                                                                              |
|-----------------|---------|-------------|----------------------------------------------------------------------------------------------------------|
| customer_id     | TEXT    | PRIMARY KEY | Unique identifier for each customer                                                                      |
| gender          | TEXT    |             | Gender of the customer                                                                                   |
| age_group       | TEXT    |             | Categorizes customers into broad age-based segments                                                      |
| city            | TEXT    |             | Indicates the city where customer resides                                                                |
| signup_date     | TEXT    |             | Represents the date when the customers created their account on Foodpanda platform                       |
| order_frequency | INTEGER |             | nIdicates how frequently customer places orders                                                          |
| last_order_date | TEXT    |             | Date of last order                                                                                       |
| loyalty_points  | INTEGER |             | Represents the reward points earned by a customer                                                        |
| churned         | TEXT    |             | nIdicates whether customer has stopped using the Foodpanda platform after a certain period of inactivity |



## 2. Order Table

| Column          | Type    | Key     | Description                                                                                                                                                |
| --------------- | ------- | ------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------- |
| order_id        | TEXT    | PRIMARY | Unique identifier for orders                                                                                                                               |
| customer_id     | TEXT    | FOREIGN | Unique identifier for customers                                                                                                                            |
| restaurant_id   | INTEGER | FOREIGN | Unique identifier for restaurants                                                                                                                          |
| order_date      | TEXT    |         | Date of order                                                                                                                                              |
| dish_name       | TEXT    |         | Indicates the type of the food item ordered by the customer                                                                                                |
| category        | TEXT    |         | Represents the cusine of the ordered dish                                                                                                                  |
| quantity        | INTEGER |         | Indicates the number of units of a particular dish ordered by the customer in a single order                                                               |
| price           | REAL    |         | Represents the total cost of the ordered dish                                                                                                              |
| payment_method  | TEXT    |         | Specifies the method used by the customer to pay for the order                                                                                             |
| rating          | INTEGER |         | Indicates the numerical rating (usually on a scale such as 1–5) given by the customer to evaluate their satisfaction with the order or delivery experience |
| rating_date     | TEXT    |         | Represents the date when the customer submitted their rating or review for the order                                                                       |
| delivery_status | TEXT    |         | Describes the final status of the order’s delivery process                                                                                                 |


## 3. Restaurant Table

| Column          | Type    | Key     | Description                        |
|-----------------|---------|---------|------------------------------------|
| restaurant_id   | INTEGER | PRIMARY | Unique indetifiers for restaurants |
| restaurant_name | TEXT    |         | Name of the restaurant             |

**Dataset path: Data/Foodpanda Analysis Dataset.csv**

In this section, you will work with the Foodpanda Order & Delivery Trends dataset, which stores information about orders made on the Foodpanda platform. You are required to read the dataset from a CSV file, build a relational database, and write code to answer the following questions. When creating the database, you must follow the table schema described above.

# Questions (50p)

1. Read the csv file and create database. (10p)
2. Find the top 3 restaurants with the highest total revenue. (revenue = quantity x price) (5p)
3. Calculate the total quantity of dishes sold by category for each restaurant. (5p)
4. List the top 5 customer with highest total spending (also show total spending value) (5p)
5. Find the average rating for each restaurant. (5p)
6. Check for duplicate orders (same customer_id+restaurant_id+order_date). (5p)
7. Find the percentage of orders by delivery status. (7p)
8. Analyze whether specific cities contribute a significantly larger portion to the total revenue compared to others. (8p)

In [1046]:
#1
df = pd.read_csv("Data/Foodpanda Analysis Dataset.csv")
connect = sqlite3.connect("foodpanda_analysis_database.db")
cursor = connect.cursor()
cursor.execute("DROP TABLE IF EXISTS Orders")
cursor.execute("DROP TABLE IF EXISTS Customer")
cursor.execute("DROP TABLE IF EXISTS Restaurant")

cursor.execute("""CREATE TABLE Customer(
    customer_id TEXT PRIMARY KEY,
    gender TEXT,
    age TEXT,
    city TEXT,
    signup_date TEXT,
    order_frequency INTEGER,
    last_order_date TEXT,
    loyalty_points INTEGER,
    churned TEXT)""")
cursor.execute("""CREATE TABLE Restaurant (
    restaurant_id INTEGER PRIMARY KEY,
    restaurant_name TEXT)""")
cursor.execute("""CREATE TABLE Orders (
    order_id TEXT PRIMARY KEY,
    customer_id TEXT,
    restaurant_id INTEGER,
    order_date TEXT,
    dish_name TEXT,
    category TEXT,
    quantity INTEGER,
    price REAL,
    payment_method TEXT,
    rating INTEGER,
    rating_date TEXT,
    delivery_status TEXT,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
    FOREIGN KEY (restaurant_id) REFERENCES Restaurant(restaurant_id))""")

cust_data = df[['customer_id', 'gender', 'age', 'city', 'signup_date','order_frequency', 'last_order_date', 'loyalty_points', 'churned']].drop_duplicates(subset=['customer_id'])
cust_data.to_sql('Customer', connect, if_exists='append', index=False)

rest_ids = {}
for i, name in enumerate(df['restaurant_name'].unique()):
    rest_ids[name] = i + 1

rest_data = pd.DataFrame({'restaurant_id': list(rest_ids.values()),'restaurant_name': list(rest_ids.keys())})
rest_data.to_sql('Restaurant', connect, if_exists='append', index=False)
df['restaurant_id'] = df['restaurant_name'].map(rest_ids)

order_data = df[['order_id', 'customer_id', 'restaurant_id', 'order_date','dish_name', 'category', 'quantity', 'price', 'payment_method','rating', 'rating_date', 'delivery_status']]
order_data.to_sql('Orders', connect, if_exists='append', index=False)

connect.commit()

In [1047]:
#2
cursor.execute("""SELECT restaurant_name,ROUND(sum(quantity*price),2)
                  FROM Orders,Restaurant 
                  WHERE Orders.restaurant_id=Restaurant.restaurant_id 
                  GROUP BY restaurant_name 
                  ORDER BY sum(quantity*price) DESC 
                  LIMIT 3""")
cursor.fetchall()

[('Pizza Hut', 3002380.59), ('Subway', 2998014.27), ('KFC', 2954233.45)]

In [1103]:
#3
cursor.execute("""SELECT restaurant_name,category,sum(quantity) 
                  FROM Orders,Restaurant 
                  WHERE Orders.restaurant_id=Restaurant.restaurant_id 
                  GROUP BY restaurant_name,category 
                  ORDER BY restaurant_name,SUM(quantity) DESC""")
cursor.fetchall()

[('Burger King', 'Fast Food', 799),
 ('Burger King', 'Continental', 689),
 ('Burger King', 'Italian', 681),
 ('Burger King', 'Dessert', 658),
 ('Burger King', 'Chinese', 649),
 ('KFC', 'Continental', 757),
 ('KFC', 'Chinese', 754),
 ('KFC', 'Fast Food', 747),
 ('KFC', 'Italian', 735),
 ('KFC', 'Dessert', 641),
 ("McDonald's", 'Italian', 699),
 ("McDonald's", 'Fast Food', 686),
 ("McDonald's", 'Continental', 665),
 ("McDonald's", 'Chinese', 658),
 ("McDonald's", 'Dessert', 651),
 ('Pizza Hut', 'Continental', 803),
 ('Pizza Hut', 'Chinese', 801),
 ('Pizza Hut', 'Dessert', 746),
 ('Pizza Hut', 'Italian', 738),
 ('Pizza Hut', 'Fast Food', 638),
 ('Subway', 'Italian', 859),
 ('Subway', 'Fast Food', 746),
 ('Subway', 'Continental', 730),
 ('Subway', 'Dessert', 715),
 ('Subway', 'Chinese', 705)]

In [1105]:
#4
cursor.execute("""SELECT customer_id,ROUND(sum(price*quantity),2) as total_price
                  FROM Orders 
                  GROUP BY customer_id 
                  ORDER BY total_price DESC 
                  LIMIT 5""")
cursor.fetchall()

[('C3134', 7496.85),
 ('C2515', 7495.05),
 ('C6021', 7494.65),
 ('C2857', 7493.6),
 ('C3320', 7491.8)]

In [1050]:
#5
cursor.execute("""SELECT restaurant_name,ROUND(AVG(rating),2) 
                  FROM Orders,Restaurant 
                  WHERE Orders.restaurant_id=Restaurant.restaurant_id 
                  GROUP BY Restaurant.restaurant_name""")
cursor.fetchall()

[('Burger King', 2.97),
 ('KFC', 2.97),
 ("McDonald's", 3.0),
 ('Pizza Hut', 2.95),
 ('Subway', 3.09)]

In [1051]:
#6
cursor.execute("""SELECT customer_id,restaurant_id,order_date 
                  FROM Orders 
                  GROUP BY customer_id,restaurant_id,order_date 
                  HAVING COUNT(order_id)>1""")
cursor.fetchall()

[]

In [1085]:
#7
cursor.execute("""SELECT delivery_status,ROUND(COUNT(delivery_status)*100.0/(SELECT COUNT(delivery_status) FROM Orders),2) 
                  FROM Orders 
                  GROUP BY delivery_status""")
cursor.fetchall()

[('Cancelled', 32.8), ('Delayed', 32.87), ('Delivered', 34.33)]

In [1053]:
#8
cursor.execute("""SELECT city,ROUND(SUM(quantity*price)*100.0/(SELECT SUM(quantity*price) FROM Orders),2) AS percentage 
                  FROM Customer,Orders 
                  WHERE Customer.customer_id=Orders.customer_id 
                  GROUP BY city 
                  ORDER BY percentage DESC""")
cursor.fetchall()

[('Multan', 21.28),
 ('Lahore', 20.33),
 ('Peshawar', 20.26),
 ('Islamabad', 19.77),
 ('Karachi', 18.36)]

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.